body {
    font-family: Arial;
    text-align: center;
    margin: 0;
}

header {
    background: black;
    color: white;
    padding: 20px;
}

section {
    padding: 20px;
}

ul {
    list-style: none;
}
